<a href="https://colab.research.google.com/github/ErramCharan/100-days-of-machine-learning/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [11]:
print('hello','ammullu',sep='-',end=' ')
print('word')

hello-ammullu word

In [9]:
print("Data","Science","Mentorship","Program",sep='-',end='-started-' )
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [13]:
# Write your code here
celsius=int(input('enter the celsius'))
farhenhiet = ((9*celsius)/5)+32
print(farhenhiet)

enter the celsius30
86.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [14]:
# Write your code here
a=int(input('enter the first number'))
b=int(input('enter the second number '))
c=a
a=b
b=c
print(a,b)

enter the first number2
enter the second number 3
3 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [22]:
# Write your code here
p1x=int(input('enter the x value for point 1'))
p1y=int(input('enter the y value for point 1'))
p2x=int(input('enter the x value for point 2'))
p2y=int(input('enter the y value for point 1'))

d=((p1x-p2x)**2+(p1y-p2y)**2)**0.5
print(d)

enter the x value for point 10
enter the y value for point 10
enter the x value for point 21
enter the y value for point 11
1.4142135623730951

1### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [23]:
# Write your code here
p=int(input('enter the principle'))
r=int(input('enter the interest'))
t=int(input('enter the period'))
SI= (p*t*r)/100
print(SI)

enter the principle1000
enter the interest6
enter the period1
60.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [28]:
# Write your code here
heads=int(input('enter the number of heads'))
legs=int(input('enter the number of legs'))
Dog= (legs-2*heads)/2
chicken= heads-Dog
print(Dog)
print(chicken)

enter the number of heads4
enter the number of legs12
2.0
2.0

1### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [37]:
# Write your code here
n=int(input('enter the n value'))
sum=0
for i in range(1,n+1):
  sum+=i**2
print(sum)

enter the n value5
55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [32]:
# Write your code here
t1=int(input('enter the 1st term'))
t2=int(input('enter the 2nd term'))
n=int(input('enter the n term u want to find '))
d=t2-t1
nth_term= t1+(n-1)*d
print(nth_term)

enter the 1st term1
enter the 2nd term2
enter the n term u want to find 3
3

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [35]:
# Write your code here
f1num=int(input('enter the numerator 1 '))
f1den=int(input('enter the den 1 '))
f2num=int(input('enter the numerator 2 '))
f2den=int(input('enter the den 2 '))

summation = ((f1num*f2den)+(f2num*f1den))/(f1den*f2den)
print(summation)

enter the numerator 1 4
enter the den 1 2
enter the numerator 2 4
enter the den 2 2
4.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [36]:
# Write your code here
H=int(input('enter the tank height'))
L=int(input('entr the tank length'))
B=int(input('enter the base '))

h=int(input('enter the heigh of glass'))
r=int(input('enter the radius  of glass'))
v_glass= 3.14*r*r*h
v_tank=H*L*B
number_of_glasses= v_tank/v_glass

print(number_of_glasses)

enter the tank height20
entr the tank length20
enter the base 20
enter the heigh of glass3
enter the radius  of glass1
849.2569002123142